@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <img src="logo.png" alt="image"> *@

@{
    Layout = "LoginLayout";
}

    <h2>Testing Custom Tag Helper</h2>

    <!-- Use your custom Tag Helper -->
@* <nrv img="/assets/img/myprofile.jpg" text="Custom Image"></nrv> *@

<nrv img="/assets/img/logo.jpg" text="Custom Image" width="250" height="200"></nrv>
