@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QuizWiseQueData Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-Controller="Home" asp-action="Index">MST_QuizWiseQuestions</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search QuizWiseQuestion</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <input type="text" class="form-control  border border-black" placeholder="QuizWiseQuestionsID">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control  border border-black" placeholder="QuizID">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control  border border-black" placeholder="UserID">
                                </div>
                                <div class="text-start">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>

                        <br />

                        <h5 class="card-title">QuizWiseQuestions List</h5>
                        <div class="d-flex p-3 justify-content-end">
                            <a asp-controller="MST_QuizWiseQuestions" asp-action="QuizWiseQuestionsForm" class="btn btn-primary w-20">
                                <i class="bi bi-plus"></i> Add QuizWiseQuestions
                            </a>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                           <thead>
                                            <tr>
                                                <th>QuizWiseQuestionsID</th>
                                                <th>QuizID</th>
                                                <th>QuestionID</th>
                                                <th>UserID</th>
                                                @* <th>Created</th> *@
                                                @* <th>Modified</th> *@
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Example Row 1 -->
                                            <tr>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                @* <td>2025-01-20 10:30</td> *@
                                                @* <td>2025-01-20 11:00</td> *@
                                    <td>
                                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>
                                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                    </td>
                                            </tr>
                                            <!-- Example Row 2 -->
                                            <tr>
                                                <td>2</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <td>2</td>
                                                @* <td>2025-01-21 12:00</td> *@
                                                @* <td>2025-01-21 12:15</td> *@
                                    <td>
                                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>
                                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                    </td>
                                            </tr>
                                            <!-- Example Row 3 -->
                                            <tr>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                @* <td>2025-01-22 13:30</td> *@
                                                @* <td>2025-01-22 13:45</td> *@
                                    <td>
                                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>
                                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                    </td>
                                            </tr>
                                        </tbody>
                                
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
